* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded"
}

  li>a.resume:hover{
    color: #01bf71 !important;
    transition: 0.2s ease-in-out !important;
  }
  #resume:hover{
    color: #01bf71 !important;
    transition: 0.2s ease-in-out !important;
  }

  #resume{
    font-size: 24px;
    margin-top: 62px;
    padding: 0 1em;
  }
  a{
    text-decoration: none;
  }